.profileStatsGraphLeft {
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: grid;
  grid-gap: 1rem;
  /* grid-template-rows: 1fr 8rem 1fr;
  justify-content: center; */
}

.sectionHeader {
  display: grid;
  justify-items: center;
  align-items: center;
  /* background: var(--white); */
  min-width: 15rem;
}

.sectionHeader h3 {
  color: var(--white);
  letter-spacing: 0.08rem;
  text-align: center;
  /* background: var(--white); */
  padding: 1rem;
  width: 100%;
}

.profileStatsGraphMain {
  /* background: var(--white); */
  min-width: 0;
  display: grid;
  justify-content: center;
  border-radius: 0.4rem;
  align-content: center;
  align-items: center;
}

.profileStatsGraphMain svg {
  max-width: 100%;
  fill: var(--black);
}

.profileStatsGraphWrap {
  padding: 1rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  padding: 0;
  background: var(--lightBlack);
  padding: 1rem;
}

@media only screen and (max-width: 450px) {
  .profileStatsGraphWrap {
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.graphSectionBtnGroupWrap {
  /* background: var(--white); */
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  border-radius: 0.4rem;
  /* grid-gap: 1rem; */
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 0.5rem;
}

.graphSectionBtnGroupWrap button {
  background: var(--blue);
  border: none;
  height: 2.5rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
  outline-color: var(--purple);
}
