.profileStatsTextBox {
  display: grid;
  padding: 0.4rem;
  border-radius: 0.4rem;
  grid-gap: 0.4rem;
  background: var(--black);
  /* allows for all hospitalised vs cases agegroups to be selected without anything jumping around - moved to textBox.js*/
  /* min-height: 28rem;  */
}

.infoWrap {
  display: flex;
  justify-content: space-between;
  background: var(--lightBlack);
  padding-left: 1rem;
  color: var(--white);
  border-radius: 0.4rem;
  align-content: center;
  align-items: center;
}

.infoWrap p {
  margin: 0;
  font-size: 0.8rem;
}

.genericTextItem h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.rightSpan {
  background: var(--blue);
  font-size: 0.8rem;
  color: white;
  padding: 0 1rem;
  width: 3rem;
  display: grid;
  justify-content: center;
  height: 100%;
  align-content: center;
}
