.countiesTinyBtnGroupWrap {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 0.4rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 0.25rem;
}
.countiesTinyBtnGroupWrap button {
  background: var(--blue);
  border: none;
  height: 1.5rem;
  /* border-radius: 0.4rem; */
  color: var(--white);
  font-size: 0.6rem;
  text-transform: uppercase;
  outline-color: var(--purple);
  cursor: pointer;
  line-height: 0.6rem;
}