.boringButtonDefaults {
  background: 'var(--blue)';
  border-radius: 0.4rem;
  color: var(--white);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 0.6rem;
}

@media only screen and (max-width: 900px) {
  .boringButton {
    margin-bottom: -0.5rem;
    padding: 0.3rem 0.6rem !important;
    font-size: 0.5rem !important;
    
  }
}
