.sectionWrap {
  padding: 1rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  padding: 0;
  background: var(--lightBlack);
  padding: 1rem;
}
/* .sectionSideWrap {
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: grid;
  grid-gap: 1rem;
}
.sectionHeader {
  display: grid;
  justify-items: center;
  align-items: center;
  min-width: 15rem;
}

.sectionHeader h3 {
  color: var(--white);
  letter-spacing: 0.08rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
} */

.sectionMainWrap {
  min-width: 0;
  display: grid;
  justify-content: center;
  border-radius: 0.4rem;
  align-content: center;
  align-items: center; 
  background: var(--white);
}

@media only screen and (max-width: 780px) {
  .sectionWrap {
    grid-template-rows: 2fr 3fr;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    padding: 0.5rem;

  }
  .sectionSideWrap  {
    padding: 0;
  }
}





