svg > .axisGroupY > g > text {
  transform: translateX(-0.5rem);
  font-size: 0.8rem;
}
svg > .axisGroupX > g > text {
  transform: translate(-0.5rem, 1.6rem) rotate(-90deg);
  font-size: 0.8rem;
}

svg > .axisGroupY > g > line {
  stroke: var(--white);
  opacity: 0.1;
}
svg > .axisGroupX > g > line {
  stroke: var(--white);
  opacity: 0.1;
}

/* graph border */
.axisGroupX, .axisGroupY{
  color: var(--white);
}
.axisGroupX path, .axisGroupY path{
  stroke: var(--white);
  opacity: 0.2;
}