
.textItem {
  display: grid;
  padding: 0.4rem;
  border-radius: 0.4rem;
  grid-gap: 0.4rem;
  background: var(--black);
  min-height: 20rem;
}

@media only screen and (max-width: 780px){
.textItem {
  min-height: 12rem;
}
}
.infoWrap {
  display: flex;
  justify-content: space-between;
  background: var(--lightBlack);
  padding-left: 1rem;
  color:var(--white);
  border-radius: 0.4rem;
  align-content: center;
  align-items: center;
}

.infoWrap p {
  margin: 0;
  font-size: 0.8rem;
}

.infoWrap h3 {
  padding:0.5rem 0;
  color: var(--white);
}
.small {
  font-size: 0.7rem;
}
.rightSpan {
  background: var(--blue);
  font-size: 0.8rem;
  color: white;
  padding: 0 1rem;
  width: 4rem;
  display: grid;
  justify-content: center;
  height: 100%;
  align-content: center;
}
