.axisGroupX path {
  stroke: none;
}
.tick {
  transform: translateX(-10px);
}
svg > .axisGroupY > g > text {
  transform: translateX(-0.5rem);
}
svg > .axisGroupX > g > text {
  transform: translate(-0.5rem, 1.6rem) rotate(-90deg);
}

svg > .axisGroupY > g > line {
  fill:var(--white);
  opacity: 0.1;
}
svg > .axisGroupX > g > line {
  fill:var(--white);
  opacity: 0.1;
}

.axisGroupY :nth-child(1) {
  stroke-linejoin: round;
}