.sectionSideWrap {
  border-radius: 0.4rem;
  padding: 0.4rem;
  display: grid;
  grid-gap: 1rem;
}
.sectionHeader {
  display: grid;
  justify-items: center;
  align-items: center;
  min-width: 15rem;
}

.sectionHeader h3 {
  color: var(--white);
  letter-spacing: 0.08rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
}