.svgWrap {
  min-width: 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 0.4rem;
  align-content: center;
  align-items: center;
}
.svgWrap svg {
  max-width: 100%;
  padding: 1rem;
}

@media only screen and (min-width: 900px) {
  .svgWrap svg {
    padding: 1rem 0;
  }
}
