.header {
  background: var(--black);
  display: grid;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  /* grid-gap: 1rem; */
  color: var(--white);
  grid-template-rows: 1fr 1fr;
  border-bottom: 0.1rem solid var(--gray);
}

.header h1 {
  margin: 0;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  font-weight: 900;
  line-height: 2rem;
}
nav {
  display: grid;
  justify-items: left;
  align-items: flex-end;
}

nav ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
}
nav ul li {
  margin-right: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: var(--gray);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;;
}

.navActive{
 
  font-weight: 900;
  color: var(--yellow);

}
