.pageWrap {
  display: grid;
  margin: 1rem;
  grid-gap: 1rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 9rem);
}

@media only screen and (max-width: 900px) {
  .pageWrap {
    margin: 0.5rem;
    grid-gap: 0.5rem;
  }
}
