.graphSectionBtnGroupWrap {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 0.4rem;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 0.5rem;
  min-height: 3rem;
}

.graphSectionBtnGroupWrap button {
  background: var(--blue);
  border: none;
  min-height: 2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  color: var(--white);
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
  outline-color: var(--purple);
}

.forBreakPointBetween900And300 {
  display: grid;
  grid-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  .forBreakPointBetween900And300{
    grid-template-columns: 1fr 1fr;
  } 
}

@media only screen and (max-width: 300px) {
  .forBreakPointBetween900And300{
    grid-template-columns: 1fr;
  }
}

