.clickArrowsWrap {
  /* background: var(--lightBlack); */
  border-radius: 0.4rem;
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.clickArrowsWrap .dateSpan {
  color: var(--yellow);
  font-weight: 800;
  font-size: 0.7rem;

  margin: 0;
}
.clickArrows {
  display: grid;
  grid-auto-flow: column;
}

.clickArrowsWrap button {
  background: none;
  color: var(--yellow);
  border: none;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
