:root {
  --yellow: #f0ab00;
  --blue: #008fd3;
  --black: #191919;
  --lightBlack: #313131;
  --midBlack: #262626;
  --purple: #970a82;
  --orange: #e35500;
  /* --green: #4fb81c; */
  --green: #4f922f;
  --white: #eff1ef;
  --gray: #939493;

  /* Other colours based off counties colorScale */
  --covidPink: #f04494;
  --covidLime: #ccd038;
  --covidGreen: #19d1b6;
  --covidPurple: #a73cb3;
  --covidBlue: #3292e1;
  --covidOrange: #ff833d;
  --covidYellow: #ccd038;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  see dailyGraphsStore component, axis.js
  NOTE 725px is related to width of graph defined in js
*/
.dodgyTransformClutterLogScaleLabels {
  transform: translateX(730px);
}

body {
  background: var(--black);
  background-repeat: no-repeat;
  min-height: calc(100vh - 100px);
  
}

.globalSectionWrap {
  
  /* min-height: 19rem; */
  padding: 1rem;
  color: var(--white);
  border-radius: 0.4rem;
}

.lightBlackBackground {
  background: var(--lightBlack);
}
@media only screen and (max-width: 780px){
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px){
  html {
    font-size: 12px;
  }
}

button {
  font-size: 0.8rem;
}

a {
  color: var(--blue);
}


