.sectionMain {
  min-width: 0;
    display: grid;
    justify-content: center;
    border-radius: 0.4rem;
    align-content: flex-start;
    align-items: center; 
    background: var(--white);
    padding: 0;
    position: relative;
    background: var(--midBlack);
  }
  