.barChartRect {
  transition: all 0.1s ease-out;
  cursor: pointer;
}

rect.barChartRect:hover {
  transform: scale(1.001);
  opacity: 0.9;
  fill: var(--white);
}

.barChartSvg line {
  stroke: var(--white);
  opacity: 0.4;
}

.barChartSvg text {
  fill: var(--white);
}

.barChartSvg {
  max-width: 100%;
}

.basicBtn {
  font-weight: 700;
  font-size: 0.6rem;
  outline: none;
  position: absolute;
  top: -1rem;
  right: 3px;
}
