.barChartSvgWrap {
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 0.4rem;
  align-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.barChartRect {
  transition: all 0.1s ease-out;
}

.barChartRect:hover {
  transform: scale(1.002);
  opacity: 1;
}

.barChartSvgWrap svg line {
  stroke: var(--white);
  opacity: 0.4;
}

.barChartSvgWrap svg text {
  fill: var(--white);
}
.barChartSvgWrap svg {
  max-width: 100%;
}
