.btnGroupWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 0.5rem;
}

.tabBtn {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 0.4rem;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 0.6rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 0.8rem;


}

.tabBtn :hover {
  opacity: 0.8; /* not working ...?*/
}